---

---

<div id='userSettingsBar' class='navbar bg-emerald-400/60 fixed bottom-0 w-full p-4 flex justify-between items-center hidden'>

    <ul class='flex gap-4 text-center'>

        <li>
            Check back soon for updates!
        </li>
        
    </ul>

    <button id="closeSettings" class="btn btn-outline text-black">X</button>

</div>




